:root {
    --color-primary: #52b7e8;
    --color-secondary: #8ac934;
    --color-black: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f1f1f1;
}
.header-menu {
    padding-bottom: 30px;
}
.header-menu .navbar-nav .nav-link {
    color: var(--color-black);
    font-size: 1rem;
    background: #e3e3e3;
    margin-right: 20px;
    border-radius: .25rem;
    font-weight: 600;
    padding: 8px 15px;
}
.header-menu .navbar-nav .nav-link:hover {
    background: #bfbfbf;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background: var(--color-primary);
    color: white;
}
